/* Globální nastavení pro celý dokument */
body {
  font-family: Arial, Helvetica, sans-serif;
  /* Výchozí písmo: Arial s fallbackem na Helvetica a bezpatkové písmo */
  background-image: url("../img/pozadi.webp");
  /* Obrázek pozadí pro celý dokument */
  background-repeat: no-repeat;
  /* Pozadí se nebude opakovat */
  background-size: cover;
  /* Pozadí pokryje celou plochu, může oříznout části obrázku */
}

/* Nastavení pro nadpis první úrovně */
h1 {
  text-align: center;
  /* Text bude zarovnán na střed */
  color: white;
  /* Barva textu bude bílá */
  font-size: 60px;
  /* Velikost písma 50 pixelů */
  margin-top: 50px;
  /* Horní okraj 50 pixelů */
  text-transform: uppercase;
  /* Text bude zobrazen velkými písmeny */
}

/* Nastavení pro nadpis druhé úrovně */
h2 {
  text-align: center;
  /* Text bude zarovnán na střed */
  color: rgb(252, 247, 247);
  /* Specifická barva textu ve formátu RGB */
  font-size: 30px;
  /* Velikost písma 30 pixelů */
  margin-top: 30px;
  /* Horní okraj 30 pixelů */
}

/* Nastavení pro odkazy v nadpisu třetí úrovně */
h3 a {
  color: rgb(106, 24, 123);
  /* Specifická barva textu ve formátu RGB */
  font-size: 20px;
  /* Velikost písma 20 pixelů */
  text-decoration: none;
  /* Bez podtržení textu */
}

/* Efekt přejetí myší pro odkazy v nadpisu třetí úrovně */
h3 a:hover {
  color: rgb(134, 59, 196);
  /* Změní barvu textu při najetí myší */
  text-decoration: underline;
  /* Přidá podtržení textu při najetí myší */
}

/* Vycentrování obsahu hlavní části stránky */
main {
  width: 1330px;
  /* Šířka kontejneru */
  margin: 0 auto;
  /* Automatické vycentrování */
}
a {
  color: #f6ecff;
  /* Červená barva textu odkazů */
  text-decoration: none;
  /* Bez podtržení textu */
}
section {
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 15px;
  border: 2px solid #05050535;
  border-radius: 15px;
  display: inline-block;
  width: 48%; /* 48% pro zajištění, že dvě sekce na jednom řádku se nevleznou na jeden řádek */
  box-sizing: border-box;
  background-color: #07d0f467;
  /* Světle modré pozadí */
}
p {
  margin: 5px 0;
  text-align: l;
  font-size: 25px;
}

ul {
  margin: 7px 0;
  padding-left: 30px;
  font-size: 25px;
  color: #f6ecff;
  margin-left: 7px;
}
/* Styl pro patičku */
footer {
  text-align: center;
  /* Text bude zarovnán na střed */
  color: white;
  /* Barva textu bude bílá */
  font-size: 20px;
  /* Velikost písma 20 pixelů */
  margin-top: 50px;
  /* Horní okraj 50 pixelů */
}

/* Media query - responzivní design pro úpravu layoutu na menších obrazovkách */
@media screen and (max-width: 1200px) {
  main {
    width: 90%;
    /* Hlavní část zabere 90% šířky */
  }

  .flex-container {
    flex-direction: column;
    /* Položky budou pod sebou ve sloupci */
  }
}
